<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Invitgenerator</title>
  <!-- <link href="/reset.css" rel="stylesheet"> -->
  <link href="/styles.css" rel="stylesheet">
</head>
<body>


  <div id="main">
  <%= yield %>
</div>

<footer>
  <p><small>Generate invitations thanks to  <a href="http://www.devscola.org/">Devscola</a>.</small></p>
</footer>
</body>
</html>
